body {
  background: white;
}

#heading-one {
  text-align: center;
  font-family: Arial;
  background-color: lightgreen;
  padding: 20px;

  border-bottom: 2px solid green;
  border-top: 2px solid green;
}

#canvas-div {
  display: flex;
  justify-content: center;
}

#my-canvas {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0px;
  /* margin: auto; */
  /* display: block; */
  /* border-bottom: 5px solid black; */
  /* border: 5px solid black; */
}

#controls-group {
  background-color: lightblue;
  padding: 15px;
  border-top: 2px solid steelblue;
  border-bottom: 2px solid steelblue;
}

#algorithm-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 8px;
}

#button-group {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.button-1 {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
  width: 90px;
  color: white;
  padding: 8px;
  border: none;
  font-weight: bold;
}

#new-array {
  background-color: cornflowerblue;
}

#quicksort-array {
  background-color: seagreen;
}

#bubblesort-array {
  background-color: seagreen;
}

#heapsort-array {
  background-color: seagreen;
}

#animate-group {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: navy;
}

/* Customize the label (the container) */
.container {
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}