body {
  background: white;
}

#heading-one {
  text-align: center;
  font-family: Arial;
  background-color: lightgreen;
  padding: 20px;
  border-bottom: 3px solid black;
}

#canvas-div {
  display: flex;
  justify-content: center;
}

#controls-group {
  background-color: lightblue;
  padding: 15px;
  border-top: 3px solid black;
}

#my-canvas {
  padding: 0;
  /* margin: auto; */
  /* display: block; */
  /* border-bottom: 5px solid black; */
  /* border: 5px solid black; */
}

#button-group {
  width: 100%;
  display: flex;
  justify-content: center;
}

#animate-group {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: navy;
}

.button-1 {
  margin-left: 5px;
  width: 90;
  color: white;
  padding: 8px;
  border: none;
  font-weight: bold;
}

#new-array {
  background-color: cornflowerblue;
}

#quicksort-array {
  background-color: seagreen;
}

#bubblesort-array {
  background-color: seagreen;
}

#heapsort-array {
  background-color: seagreen;
}
